# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore other environment-specific files
.env.local
.env.development
.env.test
.env.production

# Ignore npm debug logs
npm-debug.log*

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build/output directories
dist/
build/